.btn {
  width: 100%;
  border: 3px solid white;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 550;
  cursor: pointer;
  color: white;
}

.btn.active {
  background-color: hsl(125, 100%, 30%);
  color: white;
}
.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(225, 100%, 50%);
}
